<ion-header>
  <ion-toolbar>
    <ion-searchbar animated [(ngModel)]="keyword" (ngModelChange)="onKeywordChange($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let person of persons" (click)="openDetail(person)">
    <ion-img [src]="person.picture.large"></ion-img>
    <ion-card-header>
      <ion-card-title>{{person.name.title}} {{person.name.first}} {{person.name.last}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{person.phone}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>